@import ../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins
@import ../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables

body
	margin: 0
	padding: 0
	background:
		color: #ccc
		size: cover
		repeat: no-repeat
		image: url("../images/b1.jpg")

	.container
		float: right !important
		min-width: 350px
		+make-xs-column(3)
		margin: 30px 150px
		background:
			color: white
		border:
			radius: 500px 50px 2px 2px

		#capsule
			margin-top: 50px
			border:
				radius: 150px
				top: 20px solid black

		.eye
			width: 50px
			height: 90px
			background:
				color: black
			border:
				radius: 100%
				left: 4px solid gray
				bottom: 4px solid gray

			.brightness
				width: 10px
				height: 10px
				opacity: 0.8
				margin: 15px 0 0 30px
				background:
					color: white
				border:
					radius: 100%

		.eye1
			float: right
			margin: 50px 120px 0 0

		.eye2
			float: left
			margin: 50px 0 0 80px

		h1
			font:
				// family: 'Monoton', cursive;
				// family: 'Cabin Sketch', cursive;
				// family: 'Fascinate Inline', cursive
				family: 'Fredericka the Great', cursive;
			padding: 20px 0
			margin-top: 150px
			text-align: center

		form
			padding: 10px 20px
			margin: 0 20px !important

			button
				margin-bottom: 40px

		small#register
			p
				padding: 8px 0
				text-align: center
				background:
					color: white
				border:
					radius: 2000px 0
					right: 2px solid gray
					bottom: 2px solid gray

				a
					text-decoration: none